doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 BAHAYA NARKOBA
        
      section
        h2 Bahaya Narkoba terhadap fisik
       
        ul
          li 1.Gangguan Pada Sistem Syaraf
          li 2.Gangguan Pada Jantung dan pembuluh Darah
          li 3.Gangguan Pada Kulit

              


      section
        h2 Bahaya Narkoba Terhadap Psikologi
        ul
          li 1. Kerja Lamban Dan Ceroboh Sering Tegang dan Gelisah 
          li 2. Hilang Rasa Kepercayaan Diri, Apatis, Penghayal, Penuh Curiga 
          li 3. Sulit Berkonsentrasi Perasaan Kesal dan Tertekan
          li 4. Cendrung Menyakiti Diri Perasaan Tidak Aman Bahkan Bunuh Diri

      
        

      section
        h2 Bahaya Narkoba Terhadap Sosial
        ul
          li 1.Gangguan Mental
          li 2.Anti-Sosial dan Asusila
          li 3.Merepotkan Dan Menjadi Beban Keluarga

      
        

      section

        h2 Bahaya Narkoba Sesuai Jenisnya
        h3 Oploid
          li 1.Depresi Berat
          li 2.Apatis Gugup Dan Gelisah
          li 3.Banyak Tidur dan Rasa Lelah berlebihan
          li 4.Malas Bergerak kejang Kejang dan Detak Jantung Bertambah Cepat
      section 
        h2 blslbblslbllb
        h3 tomtom
          
    script(src = 'build/build.js')

      
       

      
       
       