doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h3 Nama Kelompok
        ul
          li Tomy Estrada
          li Dedy Kurniawan
          li 
      section
        h2 Perkembangan Teknologi Terhadap Manusia
        
      section
        h2 1.Bidang Informasi dan komunikasi
        h3 Dalam bidang informasi dan komunikasi telah terjadi kemajuan yang sangat pesat. Dari kemajuan dapat kita rasakan dampak positipnya antara lain:
        
        ul
          li a.Kita akan lebih cepat mendapatkan informasi-informasi yang akurat dan terbaru di bumi bagian manapun melalui internet.
          li b.Kita dapat berkomunikasi dengan teman, maupun keluarga yang sangat jauh hanya dengan melalui handphone.
          li c.Kita mendapatkan layanan bank yang dengan sangat mudah. Dan lain-lain
      section 
        h3 Selain Dampak positif banyak pula dampak negatif yg disebabkan antara lain 
        ul
          li a. Pemanfaatan jasa komunikasi oleh jaringan teroris (Kompas)
          li b. Penggunaan informasi tertentu dan situs tertentu yang terdapat di internet yang bisa disalah gunakan fihak tertentu untuk tujuan tertentu
          li c. Kerahasiaan alat tes semakin terancam Melalui internet kita dapat memperoleh informasi tentang tes psikologi, dan bahkan dapat memperoleh layanan tes psikologi secara langsung dari internet.    


      section
        h2 2.Bidang Ekonomi dan Industri
        h3 Dalam bidang ekonomi teknologi berkembang sangat pesat. Dari kemajuan teknologi dapat kita rasakan manfaat positifnya antara lain:

        ul
          li a. Pertumbuhan ekonomi yang semakin tinggi
          li b. Di masa depan, dampak perkembangan teknologi di dunia industri akan semakin penting. Tanda-tanda telah menunjukkan bahwa akan segera muncul teknologi bisnis yang memungkinkan konsumen secara individual melakukan kontak langsung dengan pabrik sehingga pelayanan dapat dilaksanakan secara langsung dan selera individu dapat dipenuhi, dan yang lebih penting konsumen tidak perlu pergi ke toko.

      
        

      section
        h2 Meskipun demikian ada pula dampak negatifnya antara lain;
        ul
          li a. Terjadinya pengangguran bagi tenaga kerja yang tidak mempunyai kualifikasi yang sesuai dengan yang dibutuhkan.
          li b. Sifat konsumtif sebagai akibat kompetisi yang ketat pada era globalisasi akan juga melahirkan generasi yang secara moral mengalami kemerosotan: konsumtif, boros dan memiliki jalan pintas yang bermental “instant”.
          li c. Bidang Sosial dan Budaya Akibat kemajuan teknologi bisa kita lihat


      
        

      section

<<<<<<< HEAD
        h3 3. Bidang Pendidikan Teknologi mempunyai peran yang sangat penting dalam bidang pendidikan antara lain:
        ul 
          li a. Munculnya media massa, khususnya media elektronik sebagai sumber ilmu dan pusat pendidikan. Dampak dari hal ini adalah guru bukannya satu-satunya sumber ilmu pengetahuan.
          li b. Dengan kemajuan teknologi terciptalah metode-metode baru yang membuat siswa mampu memahami materi-materi yang abstrak, karena materi tersebut dengan bantuan teknologi bisa dibuat abstrak.
          li c. Sistem pembelajaran tidak harus melalui tatap muka, Dengan kemajuan teknologi proses pembelajaran tidak harus mempertemukan siswa dengan guru, tetapi bisa juga menggunakan jasa pos internet dan lain-lain.


      
        
=======
        h2 Bahaya Narkoba Sesuai Jenisnya
        h3 Oploid
          li 1.Depresi Berat
          li 2.Apatis Gugup Dan Gelisah
          li 3.Banyak Tidur dan Rasa Lelah berlebihan
          li 4.Malas Bergerak kejang Kejang dan Detak Jantung Bertambah Cepat
      section 
        h2 blslbblslbllb
        h3 egin
>>>>>>> 3ca31818c28439b40e65ad5e08110aad15df87cc
          
    script(src = 'build/build.js')

      
       

      
       
       